@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
label{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 16pt;
}
.form-control:focus {

    box-shadow: 0 0 0 0.2rem rgba(255, 217, 0, 0.25);
}