
  <div id="carouselExampleSlidesOnly" style="margin-top: 65px;" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="../../../assets/main.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/quick-easy-dinner-recipes-1570475391.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://imagesvc.meredithcorp.io/v3/jumpstartpure/image?url=https://timeincsecure-a.akamaihd.net/rtmp_uds/1260616200/201901/1954/1260616200_5993923015001_5993921586001-vs.jpg?pubId=1260616200&videoId=5993921586001&w=1280&h=720&q=90&c=cc   " class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
